
<div class="row" style="background-color:lightcyan">
        <div class="col-sm-3">
                <div class="card" style="width:200px;background-color: lightcyan">
                        <img class="card-img-top" src="image\2813922.jpg" alt="Card image" style="width:100%">
                        <div class="card-body" style="font-family: fantasy">
                          <h4 class="card-title"  ng-repeat="item in inventory | filter:searchText | orderBy:'category' ">{{ item.description }}</h4>
                          <h4 class="card-title">**Apple Jam**</h4>
                          <p class="card-text">Price 250 TK</p>
                          <a href="#" class="btn btn-info" ng-click="addItem(item)">Add To Cart</a>
                        </div>
                      </div>
        </div>
        <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
          <img class="card-img-top" src="image\2813634.jpg" alt="Card image" style="width:100%">
          <div class="card-body" style="font-family: fantasy">
            <h4 class="card-title">**Orange Jam**</h4>
            <p class="card-text">Price 250 TK</p>
            <a href="#" class="btn btn-info">Add To Cart</a>
          </div>
        </div></div>
        <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
          <img class="card-img-top" src="image\2813328.jpg" alt="Card image" style="width:100%">
          <div class="card-body" style="font-family: fantasy">
            <h4 class="card-title">**Zhuri Vaja**</h4>
            <p class="card-text">Price 150 TK</p>
            <a href="routes/loginfinal.html" class="btn btn-info">Add To Cart</a>
          </div>
        </div></div>
        <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
          <img class="card-img-top" src="image\2813336.jpg" alt="Card image" style="width:100%">
          <div class="card-body" style="font-family: fantasy">
            <h4 class="card-title">**Badam Vaja**</h4>
            <p class="card-text">Price 120 TK</p>
            <a href="#" class="btn btn-info">Add To Cart</a>
          </div>
        </div></div>
      </div>
      
<div class="row" style="background-color:lightcyan">
  <div class="col-sm-3">
          <div class="card" style="width:200px;background-color: lightcyan">
                  <img class="card-img-top" src="image\2813335.jpg" alt="Card image" style="width:100%">
                  <div class="card-body" style="font-family: fantasy">
                    <h4 class="card-title">**Chirar Moya**</h4>
                    <p class="card-text">Price 250 TK</p>
                    <a href="#" class="btn btn-info">Add To Cart</a>
                  </div>
                </div>
  </div>
  <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
    <img class="card-img-top" src="image\2813326.jpg" alt="Card image" style="width:100%">
    <div class="card-body" style="font-family: fantasy">
      <h4 class="card-title">**Murali**</h4>
      <p class="card-text">Price 250 TK</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div></div>
  <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
    <img class="card-img-top" src="image\2813327.jpg" alt="Card image" style="width:100%">
    <div class="card-body" style="font-family: fantasy">
      <h4 class="card-title">**Chira Vaja**</h4>
      <p class="card-text">Price 150 TK</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div></div>
  <div class="col-sm-3">   <div class="card" style="width:200px;background-color: lightcyan">
    <img class="card-img-top" src="image\2813332.jpg" alt="Card image" style="width:100%">
    <div class="card-body" style="font-family: fantasy">
      <h4 class="card-title">**Narcel naru**</h4>
      <p class="card-text">Price 120 TK</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div></div>
</div>

</div>