<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NG Practice</title>
 <script src="./angularjs/angular.js"></script>
 <script src="angularjs/angular-route.js"></script>
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
  <script src="app/user.js" ></script>
  </head>
  <body>
  <form>
      <table border="1px">
          <tr>
              <td>user name</td>
              <td><input type="text" ng-model=""></td>
          </tr>
          <tr>
            <td>user email</td>
            <td><input type="text" ng-model=""></td>
        </tr>
        <tr>
            <td>user password</td>
            <td><input type="text" ng-model=""></td>
        </tr>
        <tr>
            <td>user gender</td>
            <td><input type="text" ng-model=""></td>
        </tr>
      </table>
  </form>






  </body>
  </html>